t/acceptance/wsdl/private/RunningService.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri2.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri2.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri2.org/">
      <s:element name="AddTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="taskListName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="createData" type="tns:ItemCreateData" />
            <s:element minOccurs="0" maxOccurs="1" name="modifyData" type="tns:TaskModifyData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ItemCreateData">
        <s:complexContent mixed="false">
          <s:extension base="tns:ItemData">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Author" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="GroupId" nillable="true" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ItemData" abstract="true" />
      <s:complexType name="ItemUpdateData" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:ItemData" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="PermissionItemData" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:ItemUpdateData">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Permissions" nillable="true" type="tns:Permissions" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Permissions">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GroupPermissions" type="tns:ArrayOfPermissionTuple" />
          <s:element minOccurs="0" maxOccurs="1" name="UserPermissions" type="tns:ArrayOfPermissionTuple1" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPermissionTuple">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GroupPermission" nillable="true" type="tns:PermissionTuple" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PermissionTuple">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OwnerName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Rights" nillable="true" type="tns:ADDITIONAL_ROLES" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ADDITIONAL_ROLES">
        <s:restriction base="s:string">
          <s:enumeration value="READ_ROLE" />
          <s:enumeration value="MODIFY_ROLE" />
          <s:enumeration value="ALL_ROLE" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfPermissionTuple1">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserPermission" nillable="true" type="tns:PermissionTuple" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CommonItemData" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:PermissionItemData">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Categories" type="tns:ArrayOfString" />
              <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Editor" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AlertTemplate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AlertRecipients" type="tns:Hstringstring" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Hstringstring">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="KVS" type="tns:KVstringNiceListOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KVstringNiceListOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="V" type="s:string" />
        </s:sequence>
        <s:attribute name="K" type="s:string" />
      </s:complexType>
      <s:complexType name="TaskModifyData">
        <s:complexContent mixed="false">
          <s:extension base="tns:CommonItemData">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DueDate" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="AssignedTo" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="AddTaskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddTaskResult" type="tns:SerializedItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SerializedItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Attachments" type="tns:ArrayOfString1" />
          <s:element minOccurs="0" maxOccurs="1" name="Fields" type="tns:ArrayOfField" />
        </s:sequence>
        <s:attribute name="ID" type="s:int" use="required" />
      </s:complexType>
      <s:complexType name="ArrayOfString1">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Attachment" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Field" type="tns:Field" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Field">
        <s:attribute name="Name" type="s:string" />
        <s:attribute name="Value" type="s:string" />
      </s:complexType>
      <s:element name="ModifyTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="taskListName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="asUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="modifyData" type="tns:TaskModifyData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyTaskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ModifyTaskResult" type="tns:SerializedItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groupName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateGroupResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUsersToGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groupName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userMails" type="tns:ArrayOfString2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddUsersToGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddUsersToGroupResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveUsersFromGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groupName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userMails" type="tns:ArrayOfString2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveUsersFromGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemoveUsersFromGroupResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groupName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClearGroupResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groupName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteGroupResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddCalendarEntry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="calendarName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="createData" type="tns:CalendarCreateData" />
            <s:element minOccurs="0" maxOccurs="1" name="modifyData" type="tns:CalendarModifyData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CalendarCreateData">
        <s:complexContent mixed="false">
          <s:extension base="tns:ItemCreateData" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="CalendarModifyData">
        <s:complexContent mixed="false">
          <s:extension base="tns:AttachmentItemData">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="EventDate" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="EndDate" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="ReminderDate" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="ReminderTemplate" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="FAllDayEvent" nillable="true" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AttachmentItemData" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:PermissionItemData">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Attachments" type="tns:ArrayOfAttachment" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfAttachment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Attachment" nillable="true" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Attachment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:base64Binary" />
          <s:element minOccurs="1" maxOccurs="1" name="Operation" nillable="true" type="tns:AttachmentOperation" />
        </s:sequence>
        <s:attribute name="Name" type="s:string" />
      </s:complexType>
      <s:simpleType name="AttachmentOperation">
        <s:restriction base="s:string">
          <s:enumeration value="ADD" />
          <s:enumeration value="UPDATE" />
          <s:enumeration value="DELETE" />
        </s:restriction>
      </s:simpleType>
      <s:element name="AddCalendarEntryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddCalendarEntryResult" type="tns:SerializedItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyCalendarEntry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="calendarName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="asUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="modifyData" type="tns:CalendarModifyData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyCalendarEntryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ModifyCalendarEntryResult" type="tns:SerializedItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fields" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startID" nillable="true" type="s:unsignedInt" />
            <s:element minOccurs="1" maxOccurs="1" name="maxItems" nillable="true" type="s:unsignedInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetItemsResult" type="tns:CountListOfSerializedItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CountListOfSerializedItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="List" type="tns:ArrayOfSerializedItem" />
        </s:sequence>
        <s:attribute name="Count" type="s:int" use="required" />
      </s:complexType>
      <s:complexType name="ArrayOfSerializedItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SerializedItem" nillable="true" type="tns:SerializedItem" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetItemVersions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemVersionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetItemVersionsResult" type="tns:CountListOfSerializedItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountItems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CountItemsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteItemResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddTaskSoapIn">
    <wsdl:part name="parameters" element="tns:AddTask" />
  </wsdl:message>
  <wsdl:message name="AddTaskSoapOut">
    <wsdl:part name="parameters" element="tns:AddTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyTaskSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyTask" />
  </wsdl:message>
  <wsdl:message name="ModifyTaskSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyTaskResponse" />
  </wsdl:message>
  <wsdl:message name="CreateGroupSoapIn">
    <wsdl:part name="parameters" element="tns:CreateGroup" />
  </wsdl:message>
  <wsdl:message name="CreateGroupSoapOut">
    <wsdl:part name="parameters" element="tns:CreateGroupResponse" />
  </wsdl:message>
  <wsdl:message name="AddUsersToGroupSoapIn">
    <wsdl:part name="parameters" element="tns:AddUsersToGroup" />
  </wsdl:message>
  <wsdl:message name="AddUsersToGroupSoapOut">
    <wsdl:part name="parameters" element="tns:AddUsersToGroupResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveUsersFromGroupSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveUsersFromGroup" />
  </wsdl:message>
  <wsdl:message name="RemoveUsersFromGroupSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveUsersFromGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ClearGroupSoapIn">
    <wsdl:part name="parameters" element="tns:ClearGroup" />
  </wsdl:message>
  <wsdl:message name="ClearGroupSoapOut">
    <wsdl:part name="parameters" element="tns:ClearGroupResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteGroupSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteGroup" />
  </wsdl:message>
  <wsdl:message name="DeleteGroupSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteGroupResponse" />
  </wsdl:message>
  <wsdl:message name="AddCalendarEntrySoapIn">
    <wsdl:part name="parameters" element="tns:AddCalendarEntry" />
  </wsdl:message>
  <wsdl:message name="AddCalendarEntrySoapOut">
    <wsdl:part name="parameters" element="tns:AddCalendarEntryResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyCalendarEntrySoapIn">
    <wsdl:part name="parameters" element="tns:ModifyCalendarEntry" />
  </wsdl:message>
  <wsdl:message name="ModifyCalendarEntrySoapOut">
    <wsdl:part name="parameters" element="tns:ModifyCalendarEntryResponse" />
  </wsdl:message>
  <wsdl:message name="GetItemsSoapIn">
    <wsdl:part name="parameters" element="tns:GetItems" />
  </wsdl:message>
  <wsdl:message name="GetItemsSoapOut">
    <wsdl:part name="parameters" element="tns:GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="GetItemVersionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetItemVersions" />
  </wsdl:message>
  <wsdl:message name="GetItemVersionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetItemVersionsResponse" />
  </wsdl:message>
  <wsdl:message name="CountItemsSoapIn">
    <wsdl:part name="parameters" element="tns:CountItems" />
  </wsdl:message>
  <wsdl:message name="CountItemsSoapOut">
    <wsdl:part name="parameters" element="tns:CountItemsResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteItemSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteItem" />
  </wsdl:message>
  <wsdl:message name="DeleteItemSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteItemResponse" />
  </wsdl:message>
  <wsdl:portType name="RunningServiceClassSoap">
    <wsdl:operation name="AddTask">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method is used to create a Task item within the task list. Values will be set if they are not null.</wsdl:documentation>
      <wsdl:input message="tns:AddTaskSoapIn" />
      <wsdl:output message="tns:AddTaskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyTask">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Modifies an existing task. Values are only set if they are not null.</wsdl:documentation>
      <wsdl:input message="tns:ModifyTaskSoapIn" />
      <wsdl:output message="tns:ModifyTaskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Creates a group within the web.</wsdl:documentation>
      <wsdl:input message="tns:CreateGroupSoapIn" />
      <wsdl:output message="tns:CreateGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUsersToGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds a set of users to the given group.</wsdl:documentation>
      <wsdl:input message="tns:AddUsersToGroupSoapIn" />
      <wsdl:output message="tns:AddUsersToGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUsersFromGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Removes a user from a given group.</wsdl:documentation>
      <wsdl:input message="tns:RemoveUsersFromGroupSoapIn" />
      <wsdl:output message="tns:RemoveUsersFromGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClearGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Removes all users from the given group.</wsdl:documentation>
      <wsdl:input message="tns:ClearGroupSoapIn" />
      <wsdl:output message="tns:ClearGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Deletes a group from the web.</wsdl:documentation>
      <wsdl:input message="tns:DeleteGroupSoapIn" />
      <wsdl:output message="tns:DeleteGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCalendarEntry">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Builds a new entry for the calendar.</wsdl:documentation>
      <wsdl:input message="tns:AddCalendarEntrySoapIn" />
      <wsdl:output message="tns:AddCalendarEntrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyCalendarEntry">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Modifies a calendar entry.</wsdl:documentation>
      <wsdl:input message="tns:ModifyCalendarEntrySoapIn" />
      <wsdl:output message="tns:ModifyCalendarEntrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method is used for getting specific items from a list.</wsdl:documentation>
      <wsdl:input message="tns:GetItemsSoapIn" />
      <wsdl:output message="tns:GetItemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetItemVersions">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets all versions of an item.</wsdl:documentation>
      <wsdl:input message="tns:GetItemVersionsSoapIn" />
      <wsdl:output message="tns:GetItemVersionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CountItems">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Counts all Items that is returned by the query.</wsdl:documentation>
      <wsdl:input message="tns:CountItemsSoapIn" />
      <wsdl:output message="tns:CountItemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteItem">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Deletes an item from a list.</wsdl:documentation>
      <wsdl:input message="tns:DeleteItemSoapIn" />
      <wsdl:output message="tns:DeleteItemSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RunningServiceClassSoap" type="tns:RunningServiceClassSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTask">
      <soap:operation soapAction="http://tempuri2.org/AddTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyTask">
      <soap:operation soapAction="http://tempuri2.org/ModifyTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <soap:operation soapAction="http://tempuri2.org/CreateGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUsersToGroup">
      <soap:operation soapAction="http://tempuri2.org/AddUsersToGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUsersFromGroup">
      <soap:operation soapAction="http://tempuri2.org/RemoveUsersFromGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearGroup">
      <soap:operation soapAction="http://tempuri2.org/ClearGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroup">
      <soap:operation soapAction="http://tempuri2.org/DeleteGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCalendarEntry">
      <soap:operation soapAction="http://tempuri2.org/AddCalendarEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyCalendarEntry">
      <soap:operation soapAction="http://tempuri2.org/ModifyCalendarEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <soap:operation soapAction="http://tempuri2.org/GetItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemVersions">
      <soap:operation soapAction="http://tempuri2.org/GetItemVersions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountItems">
      <soap:operation soapAction="http://tempuri2.org/CountItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteItem">
      <soap:operation soapAction="http://tempuri2.org/DeleteItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RunningServiceClassSoap12" type="tns:RunningServiceClassSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTask">
      <soap12:operation soapAction="http://tempuri2.org/AddTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyTask">
      <soap12:operation soapAction="http://tempuri2.org/ModifyTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <soap12:operation soapAction="http://tempuri2.org/CreateGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUsersToGroup">
      <soap12:operation soapAction="http://tempuri2.org/AddUsersToGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUsersFromGroup">
      <soap12:operation soapAction="http://tempuri2.org/RemoveUsersFromGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearGroup">
      <soap12:operation soapAction="http://tempuri2.org/ClearGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroup">
      <soap12:operation soapAction="http://tempuri2.org/DeleteGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCalendarEntry">
      <soap12:operation soapAction="http://tempuri2.org/AddCalendarEntry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyCalendarEntry">
      <soap12:operation soapAction="http://tempuri2.org/ModifyCalendarEntry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <soap12:operation soapAction="http://tempuri2.org/GetItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemVersions">
      <soap12:operation soapAction="http://tempuri2.org/GetItemVersions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountItems">
      <soap12:operation soapAction="http://tempuri2.org/CountItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteItem">
      <soap12:operation soapAction="http://tempuri2.org/DeleteItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RunningServiceClass">
    <wsdl:port name="RunningServiceClassSoap" binding="tns:RunningServiceClassSoap">
      <soap:address location="https://sp-01.erlm.siemens.de/sites/CUP1/ITIL/_vti_bin/ITIL/RunningService.asmx" />
    </wsdl:port>
    <wsdl:port name="RunningServiceClassSoap12" binding="tns:RunningServiceClassSoap12">
      <soap:address location="https://sp-01.erlm.siemens.de/sites/CUP1/ITIL/_vti_bin/ITIL/RunningService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
